# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
node-server/build
dist
node_modules
src/**/*.js

# code coverage
.nyc_output

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/
.vs/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.sass-cache
connect.lock
libpeerconnection.log
npm-debug.log
testem.log
typings
tmp

# e2e
e2e/*.js
e2e/*.map

.idea
coverage/
node-server/coverage
node-server/test-results.xml

